# Windows system files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Windows installer artifacts
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# Text files
*.txt